<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CustomerMapper">

    <resultMap type="Customer" id="CustomerResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="companyName"    column="company_name"    />
        <result property="customerName"    column="customer_name"    />
        <result property="status"    column="status"    />
        <result property="customerType"    column="customer_type"    />
        <result property="birthday"    column="birthday"    />
        <result property="gender"    column="gender"    />
        <result property="customerSource"    column="customer_source"    />
        <result property="customerDescription"    column="customer_description"    />
        <result property="countryRegion"    column="country_region"    />
        <result property="customerLevel"    column="customer_level"    />
        <result property="followupContent"    column="followup_content"    />
        <result property="followupDate"    column="followup_date"    />
        <result property="followupJson"    column="followup_json"    />
        <result property="position"    column="position"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="email"    column="email"    />
        <result property="otherContact"    column="other_contact"    />
        <result property="companyWebsite"    column="company_website"    />
        <result property="companyAddress"    column="company_address"    />
        <result property="attachment"    column="attachment"    />
        <result property="createUserId"    column="createUserId"    />
        <result property="createBy"    column="createBy"    />
        <result property="updateBy"    column="updateBy"    />
        <result property="createTime"    column="createTime"    />
        <result property="updateTime"    column="updateTime"    />
    </resultMap>

    <sql id="selectCustomerVo">
        select * from customer
    </sql>

    <select id="selectCustomerList" parameterType="Customer" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        <where>
            <if test="customerId != null  and customerId != ''"> and customer_id = #{customerId}</if>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="customerName != null  and customerName != ''"> and customer_name like concat('%', #{customerName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="customerType != null  and customerType != ''"> and customer_type = #{customerType}</if>
            <if test="customerSource != null  and customerSource != ''"> and customer_source = #{customerSource}</if>
            <if test="customerDescription != null  and customerDescription != ''"> and customer_description = #{customerDescription}</if>
            <if test="countryRegion != null  and countryRegion != ''"> and country_region = #{countryRegion}</if>
            <if test="customerLevel != null  and customerLevel != ''"> and customer_level = #{customerLevel}</if>
            <if test="followupContent != null  and followupContent != ''"> and followup_content = #{followupContent}</if>
            <if test="followupDate != null "> and followup_date = #{followupDate}</if>
            <if test="followupJson != null  and followupJson != ''"> and followup_json = #{followupJson}</if>
            <if test="position != null  and position != ''"> and position = #{position}</if>
            <if test="contactPhone != null  and contactPhone != ''"> and contact_phone = #{contactPhone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="otherContact != null  and otherContact != ''"> and other_contact = #{otherContact}</if>
            <if test="companyWebsite != null  and companyWebsite != ''"> and company_website = #{companyWebsite}</if>
            <if test="companyAddress != null  and companyAddress != ''"> and company_address = #{companyAddress}</if>
            <if test="attachment != null  and attachment != ''"> and attachment = #{attachment}</if>
            <if test="createUserId != null "> and createUserId = #{createUserId}</if>
            <if test="createBy != null  and createBy != ''"> and createBy = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and updateBy = #{updateBy}</if>
            <if test="createTime != null "> and createTime = #{createTime}</if>
            <if test="updateTime != null "> and updateTime = #{updateTime}</if>
        </where>
        order by id desc
    </select>

    <select id="selectCustomerById" parameterType="String" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        where id = #{id}
    </select>

    <insert id="insertCustomer" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
        insert into customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null and customerId != ''">customer_id,</if>
            <if test="companyName != null and companyName != ''">company_name,</if>
            <if test="customerName != null and customerName != ''">customer_name,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="customerType != null and customerType != ''">customer_type,</if>
            <if test="birthday != null">birthday,</if>
            <if test="gender != null and gender != ''">gender,</if>
            <if test="customerSource != null and customerSource != ''">customer_source,</if>
            <if test="customerDescription != null">customer_description,</if>
            <if test="countryRegion != null and countryRegion != ''">country_region,</if>
            <if test="customerLevel != null">customer_level,</if>
            <if test="followupContent != null">followup_content,</if>
            <if test="followupDate != null">followup_date,</if>
            <if test="followupJson != null">followup_json,</if>
            <if test="position != null">position,</if>
            <if test="contactPhone != null">contact_phone,</if>
            <if test="email != null">email,</if>
            <if test="otherContact != null">other_contact,</if>
            <if test="companyWebsite != null">company_website,</if>
            <if test="companyAddress != null">company_address,</if>
            <if test="attachment != null">attachment,</if>
            <if test="createUserId != null">createUserId,</if>
            <if test="createBy != null">createBy,</if>
            <if test="updateBy != null">updateBy,</if>
            <if test="createTime != null">createTime,</if>
            <if test="updateTime != null">updateTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null and customerId != ''">#{customerId},</if>
            <if test="companyName != null and companyName != ''">#{companyName},</if>
            <if test="customerName != null and customerName != ''">#{customerName},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="customerType != null and customerType != ''">#{customerType},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="gender != null and gender != ''">#{gender},</if>
            <if test="customerSource != null and customerSource != ''">#{customerSource},</if>
            <if test="customerDescription != null">#{customerDescription},</if>
            <if test="countryRegion != null and countryRegion != ''">#{countryRegion},</if>
            <if test="customerLevel != null">#{customerLevel},</if>
            <if test="followupContent != null">#{followupContent},</if>
            <if test="followupDate != null">#{followupDate},</if>
            <if test="followupJson != null">#{followupJson},</if>
            <if test="position != null">#{position},</if>
            <if test="contactPhone != null">#{contactPhone},</if>
            <if test="email != null">#{email},</if>
            <if test="otherContact != null">#{otherContact},</if>
            <if test="companyWebsite != null">#{companyWebsite},</if>
            <if test="companyAddress != null">#{companyAddress},</if>
            <if test="attachment != null">#{attachment},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCustomer" parameterType="Customer">
        update customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="customerType != null and customerType != ''">customer_type = #{customerType},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="customerSource != null and customerSource != ''">customer_source = #{customerSource},</if>
            <if test="customerDescription != null">customer_description = #{customerDescription},</if>
            <if test="customerLevel != null">customer_level = #{customerLevel},</if>
            <if test="followupContent != null">followup_content = #{followupContent},</if>
            <if test="followupDate != null">followup_date = #{followupDate},</if>
            <if test="followupJson != null">followup_json = #{followupJson},</if>
            <if test="position != null">position = #{position},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="otherContact != null">other_contact = #{otherContact},</if>
            <if test="companyWebsite != null">company_website = #{companyWebsite},</if>
            <if test="companyAddress != null">company_address = #{companyAddress},</if>
            <if test="attachment != null">attachment = #{attachment},</if>
            <if test="createUserId != null">createUserId = #{createUserId},</if>
            <if test="createBy != null">createBy = #{createBy},</if>
            <if test="updateBy != null">updateBy = #{updateBy},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="updateTime != null">updateTime = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCustomerById" parameterType="String">
        delete from customer where id = #{id}
    </delete>

    <delete id="deleteCustomerByIds" parameterType="String">
        delete from customer where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>